sudo apt-get install pkg-config python3-pip mysql-server python3-dev default-libmysqlclient-dev npm -y
pip3 install Django djangorestframework phonenumbers djangorestframework-simplejwt djangorestframework-jwt  \
             mysqlclient django-cors-headers python-dotenv django-filter django-rest-swagger drf-yasg python-dotenv
